/* 


			sideBar 


*/
#sideBar{
	width: 20%;
	background: #000080;
	height: 100vw;
	float: left;
	padding: 12px;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
}

#sideBar ul li{
	margin: 12px;
	list-style: none;
}

#sideBar ul li a{
	color: #fff;
}




/*


			 main


*/

#main{
	float: left;
	width: 80%;
	padding: 12px;
	margin-left: 20%;
}


/*

			category.php
*/

#category_regist{
	display: none;
}